{% extends "base.html" %} {% block title %} HanJo - Home Page {% endblock %}
{%block content %}

<section id="home">
<h1>
  | HanJo Hair Studio |<hr>Here to make your hair as beautiful as you feel
</h1>
<h5 class="stylish-text">
  Fifteen years of business has taught us a thing or two
</h5>
<hr>

</section>
<section id="about-us">
    <div id="our-story" class="container">
    <div class="wrapper">
      <img class="refurb" src="/static/images/before_refurb_salon.webp" alt="An old dreary salon">
    </div>
    <hr>
    <h3 class="stylish-text">From Humble Beginnings</h3>
    <hr>
    <p class="story blurb-box">15 years ago Han Jo had nothing but a grant and a dream, a dream to re-invigorate the hair of the people of LlanCwmCaws, so Han Jo 
      bought up the last remaining salon in the town centre, as you can see from the above photo it was a bit drab. <br><br> With a little elbow grease 
      and a ton of love Han transformed it into the bustling salon it is now.
    </p>
    <hr>
    <h3 class="stylish-text">To Hopeful Futures</h3>
    <hr>
    <div class="wrapper">
      <img class="refurb" src="/static/images/today_salon.webp" alt="a bright clean colourful salon">
    </div>
    <p class="story blurb-box">We've worked our magic on countless clients since we've been established -
      offering professional styling that leaves our clients looking and feeling a million dollars <br><br>
      Now in {% now "Y" %} Han has a huge client base and four professional staff under her wing, as 
      well as more trainee stylists coming up through the ranks</p>


</section>
<section id="stylists">

  <h2 class="stylish-text">Our Amazing Team</h2>
  <div id="photo-gallery">
    <div>
      <a href="{% url 'profile' 'hannahj' %}"><img class="main-photo" src="/static/images/han_jo.webp" alt="Han Jo our owner"  width="250" height="240"></a>
      <p class="stylish-text name-tag">| Our Supreme Leader Han Jo |</p>
    </div>
    <div>
      <a href="{% url 'profile' 'jemimap' %}"><img class="main-photo" src="/static/images/jemima-plomp.webp" alt="Jemima Plomp, a stylist"   width="250" height="240"></a>
      <p class="stylish-text name-tag">| Jemima Plomp - Head Stylist |</p>
    </div>
    <div>
      <a href="{% url 'profile' 'mercutiob' %}"><img class="main-photo" src="/static/images/mercutio_brick.webp" alt="Mercution Brick an expert barber"   width="250" height="240"></a>
      <p class="stylish-text name-tag">| Mercutio Brick - Master Barber |</p>
    </div>
    <div>
      <a href="{% url 'profile' 'sandraj' %}"><img class="main-photo" src="/static/images/sandra_jonkins.webp" alt="Sandra Jonkins a graduate stylist"  width="250" height="240"></a>
      <p class="stylish-text name-tag">| Sandra Jonkins - Graduate Stylist |</p>
    </div>
  </div>

</section> 
<section id="contact" class="contact-box"> 
  <div>
    <h2 class="stylish-text">Contact Us</h2>
    <p>You can email us directly or call us on this number - or if you want book an appointment please click below</p>
    <hr>
    <div class="row contact m-2"
         <div class="col-12">
            <h5><i class="fa-solid fa-envelope"></i>Bookings@HanJo.com</h5>
            <h5><i class="fa-solid fa-mobile"></i>07123456789</h5>
            <h5><i class="fa-solid fa-location-dot"></i>28 High Street, AberCwmCaws</h5>
        </div>
     </div>
     <hr>
        
    <a class="btn btn-dark booking-button" type="button" href="{% url 'booking' %}">Book Now!</a>
  </div>

</section>


{% endblock %}
