{% extends "base.html" %} {% block title %} HanJo - Home Page {% endblock %} 
{%block content %}

<h1>| HanJo Hair Studio |<br>Here to make your hair as beautiful as you feel</h1>
<h5 class="stylish-text">
  Fifteen years of business has taught us a thing or two
</h5>
<p>
  We've worked our magic on countless clients since we've been established -
  offering professional styling that leaves our clients looking and feeling a
  million dollars
</p>

<div id="opening-times">
<h3>OPENING TIMES:</h3>
<ul>
  <li class="nice-box">Tues: 09.00am - 2:30pm</li>
  <li class="nice-box">Weds: 09.00am - 7.00pm</li>
  <li class="nice-box">Thurs: 09.00am - 7.00pm</li>
  <li class="nice-box">Fri: 09.00am - 6.00pm</li>
  <li class="nice-box">Sat: 09.00am - 5.00pm</li>
  <br>
  <li class="nice-box">Sunday & Monday: Closed</li>
</ul>
</div>

{% endblock %}
